/**
 * Font Definitions - Narrative Assistant (LOCAL)
 *
 * Fuentes descargadas localmente para funcionamiento 100% offline.
 * Generado autom치ticamente por scripts/download_fonts.py
 */

/* Atkinson Hyperlegible */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./files/atkinson-hyperlegible-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./files/atkinson-hyperlegible-700.woff2') format('woff2');
}

/* Cormorant Garamond */
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./files/cormorant-garamond-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./files/cormorant-garamond-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./files/cormorant-garamond-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./files/cormorant-garamond-700.woff2') format('woff2');
}

/* Crimson Pro */
@font-face {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./files/crimson-pro-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./files/crimson-pro-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./files/crimson-pro-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./files/crimson-pro-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./files/crimson-pro-700.woff2') format('woff2');
}

/* EB Garamond */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./files/eb-garamond-400.woff2') format('woff2');
}

@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./files/eb-garamond-500.woff2') format('woff2');
}

@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./files/eb-garamond-600.woff2') format('woff2');
}

@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./files/eb-garamond-700.woff2') format('woff2');
}

/* IBM Plex Serif */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./files/ibm-plex-serif-300.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./files/ibm-plex-serif-400.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./files/ibm-plex-serif-500.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./files/ibm-plex-serif-600.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./files/ibm-plex-serif-700.woff2') format('woff2');
}

/* Inter */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./files/inter-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./files/inter-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./files/inter-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./files/inter-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./files/inter-700.woff2') format('woff2');
}

/* Libre Baskerville */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./files/libre-baskerville-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./files/libre-baskerville-700.woff2') format('woff2');
}

/* Libre Caslon Text */
@font-face {
  font-family: 'Libre Caslon Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./files/libre-caslon-text-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Libre Caslon Text';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./files/libre-caslon-text-700.woff2') format('woff2');
}

/* Literata */
@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./files/literata-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./files/literata-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./files/literata-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./files/literata-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./files/literata-700.woff2') format('woff2');
}

/* Lora */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./files/lora-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./files/lora-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./files/lora-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./files/lora-700.woff2') format('woff2');
}

/* Merriweather */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./files/merriweather-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./files/merriweather-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./files/merriweather-700.woff2') format('woff2');
}

/* Noto Serif */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./files/noto-serif-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./files/noto-serif-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./files/noto-serif-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./files/noto-serif-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./files/noto-serif-700.woff2') format('woff2');
}

/* Nunito */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./files/nunito-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./files/nunito-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./files/nunito-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./files/nunito-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./files/nunito-700.woff2') format('woff2');
}

/* PT Serif */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./files/pt-serif-400.woff2') format('woff2');
}

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./files/pt-serif-700.woff2') format('woff2');
}

/* Playfair Display */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./files/playfair-display-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./files/playfair-display-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./files/playfair-display-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./files/playfair-display-700.woff2') format('woff2');
}

/* Roboto Serif */
@font-face {
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./files/roboto-serif-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./files/roboto-serif-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./files/roboto-serif-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./files/roboto-serif-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./files/roboto-serif-700.woff2') format('woff2');
}

/* Source Sans 3 */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./files/source-sans-3-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./files/source-sans-3-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./files/source-sans-3-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./files/source-sans-3-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./files/source-sans-3-700.woff2') format('woff2');
}

/* Source Serif 4 */
@font-face {
  font-family: 'Source Serif 4';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./files/source-serif-4-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Serif 4';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./files/source-serif-4-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Serif 4';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./files/source-serif-4-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Serif 4';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./files/source-serif-4-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Serif 4';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./files/source-serif-4-700.woff2') format('woff2');
}

/* Spectral */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./files/spectral-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./files/spectral-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./files/spectral-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./files/spectral-600.woff2') format('woff2');
}

@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./files/spectral-700.woff2') format('woff2');
}

/* =============================================================================
   CSS VARIABLES POR FUENTE
   ============================================================================= */

:root {
  /* Fuentes del sistema como fallback */
  --font-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --font-system-serif: Georgia, 'Times New Roman', Times, serif;
  --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', Consolas, monospace;

  /* Fuentes sans-serif */
  --font-inter: 'Inter', var(--font-system);
  --font-source-sans: 'Source Sans 3', var(--font-system);
  --font-nunito: 'Nunito', var(--font-system);

  /* Fuentes serif (lectura) */
  --font-literata: 'Literata', var(--font-system-serif);
  --font-merriweather: 'Merriweather', var(--font-system-serif);
  --font-source-serif: 'Source Serif 4', var(--font-system-serif);
  --font-lora: 'Lora', var(--font-system-serif);

  /* Fuentes cl치sicas (estilo Word) */
  --font-garamond: 'EB Garamond', Garamond, var(--font-system-serif);
  --font-baskerville: 'Libre Baskerville', Baskerville, var(--font-system-serif);
  --font-crimson: 'Crimson Pro', var(--font-system-serif);
  --font-playfair: 'Playfair Display', var(--font-system-serif);
  --font-pt-serif: 'PT Serif', var(--font-system-serif);
  --font-cormorant: 'Cormorant Garamond', Garamond, var(--font-system-serif);
  --font-ibm-plex-serif: 'IBM Plex Serif', var(--font-system-serif);
  --font-spectral: 'Spectral', var(--font-system-serif);

  /* Fuentes accesibles y especializadas */
  --font-atkinson: 'Atkinson Hyperlegible', var(--font-system);
  --font-roboto-serif: 'Roboto Serif', var(--font-system-serif);
  --font-noto-serif: 'Noto Serif', var(--font-system-serif);
  --font-caslon: 'Libre Caslon Text', var(--font-system-serif);

  /* Fuente activa (se cambia din치micamente) */
  --font-family-active: var(--font-inter);
  --font-family-reading: var(--font-literata);
}

/* =============================================================================
   CLASES DE FUENTE
   ============================================================================= */

/* Aplicar fuente activa globalmente */
.font-active {
  font-family: var(--font-family-active);
}

/* Clase para 치reas de lectura de documentos */
.reading-area {
  font-family: var(--font-family-reading);
}
